
/*
    GLOBAL CSS
    USE THIS TO SPECIY ITEMS
*/

/* Default View properties */
.view{
    display: flex;
}   


/* SIZES */
.flex-1{ flex: 1}
.flex-0{ flex: 0}
.height-100vh {height: 100vh}
.width-fill {width: 100%;}
.heigth-fill {height: 100%;}

/* POSITIONS */
.relative { position: relative; }
.items-center { justify-content: center;}
.items-middle { align-items: center;}
.items-column { flex-direction: column;}
.items-end { align-items: flex-end;}


/*COLOR*/
.color-red {color: red;}
.color-black {color: black;}
.bg-white {background-color: white;}
.bg-red {background-color: red;}
.bg-blue {background-color: blue;}