
/*
    GLOBAL CSS
*/

/* Default View properties */
.view{
    display: flex;
    background-color: white;
}

/* SIZES */
.height-100vh {height: 100vh}
.width-fill {width: 100%;}
.heigth-fill {height: 100%;}

/* POSITIONS */
.relative { position: relative; }
.items-center { justify-content: center;}
.items-middle { align-items: center;}
.items-column { flex-direction: column;}


/*COLOR*/
.bg-white {background-color: white;}
.bg-red {background-color: red;}
.bg-blue {background-color: blue;}