
/* TABLE CSS */
.table-row{
    display: flex;
    width: 100%;
    overflow:auto;
    word-break: break-all;
    min-height: 2rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.table-row-time{
    display: flex;
    width: 50%;
    overflow:auto;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    min-height: 2rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.table-row-shaded{
    display: flex;
    width: 100%;
    overflow:auto;
    word-break: break-all;
    min-height: 2rem;
    background-color: #c5d7bd;
    border-right: 1px solid black;
    justify-content: center;
}
.table-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
}
.table-header span{ word-break: break-all}
.scroll_hidden::-webkit-scrollbar {
    opacity: 0;
}